node_modules
dist
web/node_modules
web/dist
venv
.venv
rag/.venv
__pycache__
*.pyc
.env
.claude
rag/.chroma
#rag/data/uploads/*
#rag/data/vector_db/*
!rag/data/uploads/.gitkeep
!rag/data/vector_db/.gitkeep
